Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]

series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
my_list=[2,4,6,8,10,12,14,16,18,20]
series_list=pd.Series(my_list)
print(series_list)

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
9    20
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [5]:
data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male',"Female"]
}
data_frame=pd.DataFrame(data)
print(data_frame)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A dataframe is a data structure constructed with rows and columns, similar to a database or Excel spreadsheet. It consists of a dictionary of lists in which the list each have their own identifiers or keys, such as "first Name","Last name","Age",etc.

One of the main differences between DataFrame and Series is that a DataFrame can have multiple columns, while a Series can only have one. This means that a DataFrame can store more complex and heterogeneous data, while a Series can store more simple and homogeneous data.

In [9]:
names = pd.Series(['Saurabh','Sanjay','Sachin','Yash','Puneet'])

data = {
    'Name':['Saurabh','Sanjay','Sachin','Yash','Puneet'],
    'Age':[26,23,29,8,30],
    'Gender':['Male','Male','Male','Male','Male']
}
df=pd.DataFrame(data)
print(names)
print(df)

0    Saurabh
1     Sanjay
2     Sachin
3       Yash
4     Puneet
dtype: object
      Name  Age Gender
0  Saurabh   26   Male
1   Sanjay   23   Male
2   Sachin   29   Male
3     Yash    8   Male
4   Puneet   30   Male

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

to_csv(): This function is used to write data contained in a Pandas DataFrame or Series to a CSV file. It is essential for saving data to a file for further analysis or sharing with others.

head(): The head(n) function is used to return the first n rows of a dataset. It is helpful for quickly inspecting the beginning of a DataFrame to understand its structure and contents.

applymap(): The applymap() function is used to apply a function to every single element in the entire DataFrame. It is useful for applying a function to each individual value in the DataFrame.

melt(): The melt() function is used to unpivot a DataFrame from wide to long format, optionally leaving identifiers set. It is helpful for reshaping the DataFrame for specific analysis or visualization needs.

rename(): The rename() method is used to rename variables in a Pandas DataFrame. It is commonly used to fix issues with the column names in the data.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

 DataFrame is the only data structure that is mutable in nature, both in terms of value and size.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [15]:
name=pd.Series(['Saurabh','sachin','Sanjay','Deepak','Sujal','Priya'])

age=pd.Series([26,29,24,25,18,16])

gender=pd.Series(['Male','Male','Male','Male','Male','Female'])

df=pd.concat([name,age,gender], axis=1)

df.columns=['NAME','AGE','GENDER']

print(df)

      NAME  AGE  GENDER
0  Saurabh   26    Male
1   sachin   29    Male
2   Sanjay   24    Male
3   Deepak   25    Male
4    Sujal   18    Male
5    Priya   16  Female